<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statistics-mapper">

<select id="firstBlood" resultType="StatisticsBoard">
	SELECT CHAMPNAME, SUM(FIRSTBLOODKILL) as FB, SUM(DOUBLEKILLS) as DK, SUM(TRIPLEKILLS) as TK, SUM(QUADRAKILLS) as QK, SUM(PENTAKILLS) as PK
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>
	
<!-- 블루레드 승률쿼리 -->
<select id="BRWPercent" resultType="StatisticsBoard">
	SELECT DISTINCT
	TRUNC((SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='100' AND WIN='Win')/(SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='100'), 4)*100 AS BWPERCENT,
	TRUNC((SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='200' AND WIN='Win')/(SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='200'), 4)*100 AS RWPERCENT
	FROM TEAMSTATS
</select>
	
<!-- 블루레드 퍼블시 승률 -->
<select id="BRFBWPercent" resultType="StatisticsBoard">
	SELECT DISTINCT
	TRUNC((SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='100' AND WIN='Win' AND FIRSTBLOOD = 1)/(SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='100' AND FIRSTBLOOD = 1), 4)*100 AS BFBWPERCENT,
	TRUNC((SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='200' AND WIN='Win' AND FIRSTBLOOD = 1)/(SELECT COUNT(TEAMID)
	FROM TEAMSTATS
	WHERE TEAMID='200' AND FIRSTBLOOD = 1), 4)*100 AS RFBWPERCENT
	FROM TEAMSTATS
</select>
	
<!-- 킬 가장 높은 챔  -->
<select id="highKills" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(KILLS),1) AS HIGHKILL
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>
	
<!-- 가장 많이 죽은 챔 -->
<select id="highDeaths" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(DEATHS),1) AS HIGHDEATH
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>
	
<!-- 어시 가장 많은 챔 -->
<select id="highAssists" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(ASSISTS),1) AS HIGHASSIST
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>
	
<!-- 가장많은 딜량, 마법딜량 -->
<select id="highDamages" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(TOTALDAMAGEDEALTTOCHAMPIONS),1) AS HIGHDAMAGE
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 마법딜량 높은순 -->
<select id="highMagicDamages" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(MAGICDAMAGEDEALTTOCHAMPIONS),1) AS HIGHMAGICDAMAGE
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>
	
<!-- 받은 딜량 높은 순서 -->
<select id="highDamageTakens" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(TOTALDAMAGETAKEN),1) AS HIGHDAMAGETAKEN
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN champion USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>	

<!-- 타워를 가장 많이 부순 챔피언  -->
<select id="turretKills" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(TURRETKILLS),1) AS TURRETKILL
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 미니언을 가장 많이 죽인 챔피언 -->
<select id="highMinionKills" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(TOTALMINIONSKILLED),1) AS HIGHMINIONKILL 
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 정글몹 처묵처묵 정글 잘돔 -->
<select id="pastJunglings" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(NEUTRAKMINIONSKILLEDTEAMJUNGLE),1) AS PASTJUNGLING 
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 회복량 많은놈  -->
<select id="healTops" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(TOTALHEAL),1) AS HEALTOP 
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 와드 많이깔고 많이지움  -->
<select id="wardScores" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(VISIONSCORE),1) AS WARDSCORE 
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 와드 많이지움  -->
<select id="wardKills" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(WARDSKILLED),1) AS WARDKILL
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 챔프별 승률 -->
<select id="champWinPercents" resultType="StatisticsBoard">
	SELECT CHAMPNAME,sum(decode(win, '1', 1, 1)) AS TOTALGAME, TRUNC(sum(decode(win, '1', 1, 0))/sum(decode(win, '1', 1, 1)),4)*100 AS CHAMPWINPERCENT
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING (GAMEID, PARTICIPANTID)
	JOIN CHAMPION USING (CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 3 DESC
</select>

<!-- 골드흭등량 -->
<select id="highGolds" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(AVG(GOLDEARNED),1) AS HIGHGOLD
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING(GAMEID,PARTICIPANTID)
	JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPNAME
	ORDER BY 2 DESC
</select>

<!-- 벤률계산 -->
<select id="banPercents" resultType="StatisticsBoard">
	SELECT  CHAMPNAME, TRUNC(COUNT(CHAMPIONID)/(SELECT COUNT(GAMEID)/10 FROM TEAMBANS)*100, 2) AS BANPERCENT
	FROM TEAMBANS
	LEFT JOIN CHAMPION USING(CHAMPIONID)
	GROUP BY CHAMPIONID, CHAMPNAME
	ORDER BY COUNT(CHAMPIONID) DESC
</select>

<!-- 픽률 -->
<select id="pickPercents" resultType="StatisticsBoard">
	SELECT CHAMPNAME, TRUNC(sum(decode(win, '1', 1, 1))/(SELECT COUNT(GAMEID)/2 FROM TEAMSTATS)*100, 2) AS PICKPERCENT,sum(decode(win, '1', 1, 1)) AS TOTALGAME
	FROM PARTICIPANTSTATS
	JOIN PATICIPANT USING (GAMEID, PARTICIPANTID)
	JOIN CHAMPION USING (CHAMPIONID)
	GROUP BY CHAMPNAME, CHAMPIONID
	ORDER BY 2 DESC
</select>
<select id=""></select>
	
	
	
	
	
	
	
	
	
	
	

</mapper>
